body { background: #1a1a1a; }

div.main {
    color: #e2e2e2;
    margin: 2px 0px 0px 2px;
    background:#121212;
    text-align:center;
}

div#board {
    border-style:none;
    background:Transparent;
    color:#00a100;
    animation: color 2s infinite;
    margin: 5px;
    width:95%;
    padding:10px;
    font-family:sans;
    font-size:2em;
    resize: none;
    text-align:left;
}

@keyframes color {

    0% {
        color: rgba(0,175,0, 0.5);
    }
    20% {
        color: rgba(0,175,0, 0.6);
    }
    40% {
        color: rgba(0,175,0, 0.7);
    }
    50% {
        color: rgba(0,175,0, 0.8);
    }
    60% {
        color: rgba(0,175,0, 0.7);
    }
    80% {
        color: rgba(0,175,0, 0.6);
    }
    100% {
        color: rgba(0,175,0, 0.5);
    }
}

a {
  background-color:#707;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin:2px;
  color: white;
  font-size: 24px;
  text-decoration: none;
  width:50%;
}

a:hover {
  background-color: #fff;
  color:red;
  font-size:26px;
}

